<nav id="header">
    <ul>
        <li><a href="/">About Us</a></li>
        <li><a href="/laura">Laura's Page</a></li>
        <li><a href="/loretta">Loretta's Page</a></li>
        <li><a id="contact-button" href="/">Contact Us</a></li>
    </ul>
</nav>
