<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/jquery.fullPage.css" />
    <link rel="icon" href="../intro_pics/favicon.png" type="image/png" />
    <link href="https://fonts.googleapis.com/css?family=Abel|Pinyon+Script" rel="stylesheet">

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->

    <title>Laura & Loretta's Personal Website</title>
    <link rel="stylesheet" href="stylesheet.css">
    <link rel="stylesheet" href="laura_stylesheet.css">
    <link rel="stylesheet" href="loretta_stylesheet.css">
</head>

<body>

    {{>header}}

    {{{body}}}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- <script type="text/javascript" src="/jquery.fullPage.js"></script> -->

    <script type="text/javascript" src="/script.js"></script>
    <script>
        if (screen && screen.width > 991) {
            document.write('<script type="text/javascript" src="/jquery.fullPage.js"></\script>');
        }
    </script>

</body>

</html>
