<div id="fullpage">
    <div class="section" id="about-us">About us
        <div class="intro-us-container">
            <img class="us-pic" src="/intro_pics/intro_us.jpeg" alt="laura and loretta">
        </div>
        <div class="intro-text-container">
            <p class="intro-text">Hey everyone, welcome to our personal website!</p>
            <p class="intro-text">I'm Laura on the left, and that's Loretta on the right. We are both Full Stack JavaScript Web Developers. Our programming journey started together when we met at SPICED Academy, a coding bootcamp in Berlin. We hit it off from the first week and been inseparable ever since! Bellow you will find the tech stack we have been trained in as well as some of the projects we worked on during our time SPICED. Feel free to get in touch with either one of us below.</p>
            <p class="intro-text">Thanks for stopping by!</p>
            <p class="intro-text">- Laura and Loretta</p>
        </div>

    </div>
    <div class="section" id="contact-info">Contact us!
        <!-- <form action=""></form> -->
    </div>
</div>
