<div id="fullpage">
    <div class="section" id="about-us">
        <div class="intro-us-container">
            <a class="names" title="Laura's Page" href="/laura">Laura</a>
            <img class="us-pic" src="/intro_pics/intro_us.jpeg" alt="laura and loretta">
            <a class="names" title="Loretta's Page" href="/loretta">Loretta</a>
        </div>
        <div class="intro-text-container">
            <p class="intro-text"><strong>Hey everyone, welcome to our personal website!</strong></p><br>
            <p class="intro-text">I'm Laura on the left, and that's Loretta on the right. We are both Full Stack JavaScript Web Developers. Our programming journey started together when we met at SPICED Academy, a coding bootcamp in Berlin. We hit it off from the first week and have been inseparable ever since! Below you will find the tech stack we have been trained in as well as some of the projects we worked on during our time at SPICED. Feel free to get in touch with either one of us.</p><br>
            <p class="intro-text">Thanks for stopping by!</p><br>
            <p id="sign-off" class="intro-text">- Laura and Loretta</p>
        </div>

    </div>
    <div class="section" id="contact-info">Contact us!
        <form class="form">
            <input type="text" name="name" placeholder="Full Name">
            <input type="text" name="Subject" placeholder="Subject">
            <textarea name="comments" placeholder="Comments goes here."></textarea>
            <button>Submit</button>





        </form>
    </div>
</div>
