<div id="fullpage">
    <div class="section" id="about-us">
        <div class="intro-us-container">
            <a class="names" title="Laura's Page" href="/laura">Laura</a>
            <img class="us-pic" src="/intro_pics/intro_us.jpeg" alt="Laura & Loretta">
            <a class="names" title="Loretta's Page" href="/loretta">Loretta</a>
        </div>
    </div>
    <div class="section">
        <div class="intro-text-container">
            <p class="intro-text"><strong>Hey everyone, welcome to our personal website!</strong></p><br>
            <p class="intro-text">I'm Laura Schneider on the left, and that's Loretta Levin on the right. We are both Full Stack JavaScript Web Developers. Our programming journey started together when we met at SPICED Academy, a coding bootcamp in Berlin. We hit it off from the first week and have been inseparable ever since! On each of our pages, you will find the tech stack we have been trained in as well as some of the projects we worked on during our time at SPICED. Feel free to get in touch with either one of us below for any or all things coding related.</p><br>
            <p class="intro-text">Thanks for stopping by!</p><br>
            <p id="sign-off" class="intro-text">- Laura and Loretta</p>
        </div>
    </div>
    <div class="section" id="contact-info">
        <form class="form" action='/send-form' method='post'>
            <h1 class="contact-us-header">GET IN TOUCH WITH US!</h1>
            <p class='error'>{{error}}</p>
            <input type="text" name="name" class='name' placeholder="Full Name">
            <input type="text" name="senderEmail" class='sender-email' placeholder="Sender Email Address">
            <!-- <select name="recipient-email" class="recipient-email">
                <option value="Laura's Email">laurie.schneider@gmail.com</option>
                <option value="Loretta's Email">lorettalevin4@gmail.com</option>
            </select> -->
            <input type="text" name="subject" class='subject' placeholder="Subject">
            <textarea name="comments" class="comments" placeholder="Enter your message."></textarea>
            <button>Submit</button>
        </form>
    </div>
</div>
