<div class="section" id="laura-contact-container">

    <!-- <div class="backdrop">
        <p class="laura-other">Laura Schneider</p>
    </div> -->

    <div class="section laura">
      <span class="letter" data-letter="L">L</span>
      <span class="letter" data-letter="A">A</span>
      <span class="letter" data-letter="U">U</span>
      <span class="letter" data-letter="R">R</span>
      <span class="letter" data-letter="A">A</span>
    </div>

    <div class="contact-info">
        <p class="connect">Let's Connect:</p>
        <div class="laura-contact-icons">
            <a href="laurie.schneider@gmail.com"><img class="contact-icons" src="../contact_icons/email.png" alt="laurie.schneider@gmail.com" title="laurie.schneider@gmail.com"></a>
            <a href="https://github.com/LauraSchneider"><img class="contact-icons" src="../contact_icons/github.png" alt="https://github.com/LauraSchneider" title="https://github.com/LauraSchneider"></a>
            <a href="https://www.linkedin.com/in/petje/"><img class="contact-icons" src="../contact_icons/linkedin.png" alt="https://www.linkedin.com/in/petje/" title="https://www.linkedin.com/in/petje/"></a>
        </div>

    </div>
</div>

<div class="section carousel-container">
    <h1 class="project-title">PROJECTS</h1>
    <div class="project-carousel">
        <div class="project onscreen">
            <a href="https://github.com/LauraSchneider/petition"><img src="../laura_projects/petition.png" alt="Petition" title="Link: https://github.com/LauraSchneider/petition"></a>
        </div>
        <div class="project ondeck">
            <a href="https://github.com/LauraSchneider/imageboard"><img src="../laura_projects/imageboardedit.png" alt="Imageboard" title="Link: https://github.com/LauraSchneider/imageboard"></a>
        </div>
    <div class="project ondeck">
        <a href="https://memory-stitch.herokuapp.com/welcome#/"><img src="../loretta_projects/memorystitch.png" alt="Memory Stitch" title="Link: https://memory-stitch.herokuapp.com/welcome#/"></div></a>
        <div class="project ondeck">
            <a href="https://github.com/LauraSchneider/connect-four"><img src="../laura_projects/connect_four.png" alt="Connect Four Game" title="Link: https://github.com/LauraSchneider/connect-four"></a>
        </div>
        <div class="project ondeck">
            <a href="https://github.com/LauraSchneider/social-network"><img src="../laura_projects/social_network.png" alt="Social Network" title="Link: https://github.com/LauraSchneider/social-network"></a>
        </div>
        <div class="dots-container">
            <div class="dots">
                <div class="dot current-dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
        </div>
    </div>
</div>

<div class="section tech-stack-container">
    <h1 class="tech-stack-title">TECH STACK</h1>
    <div class="tech-stack">
        <img class="tech-icons" src="../tech_icons/js.jpg" alt="js_icon" title="JavaScript:ES5|ES6">
        <img class="tech-icons" src="../tech_icons/html.jpg" alt="html_icon" title="HTML5">
        <img class="tech-icons" src="../tech_icons/css.jpg" alt="css_icon" title="CSS3">
        <img class="tech-icons" src="../tech_icons/webpack.png" alt="webpack" title="WebPack">
        <img class="tech-icons" src="../tech_icons/heroku.png" alt="heroku_icon" title="Heroku">
        <img class="tech-icons" src="../tech_icons/jquery.png" alt="jquery_icon" title="jQuery">
        <img class="tech-icons" src="../tech_icons/handlebars.jpeg" alt="handlebars_icon" title="Handlebars">
        <img class="tech-icons" src="../tech_icons/babel.png" alt="babel_icon" title="BABEL">
        <img class="tech-icons" src="../tech_icons/react.png" alt="react_icon" title="React">
        <img class="tech-icons" src="../tech_icons/redux.png" alt="redux_icon" title="Redux">
        <img class="tech-icons" src="../tech_icons/git.png" alt="git_icon" title="Git">
        <img class="tech-icons" src="../tech_icons/github.png" alt="github_icon" title="GitHub">
        <img class="tech-icons" src="../tech_icons/vue.png" alt="vue_icon" title="Vue">
        <img class="tech-icons" src="../tech_icons/node_express.jpeg" alt="node_express_icon" title="Node with Express">
        <img class="tech-icons" src="../tech_icons/postgresql.png" alt="postgresql_icon" title="PostgreSQL">
        <img class="tech-icons" src="../tech_icons/aws.jpeg" alt="aws_icon" title="Amazon Web Services">
    </div>
</div>
