<h1>LAURA!!!</h1>
<div class="section" id="projects">Projects</div>
<div class="section" id="tech-stack">Tech Icons
        <img class ="graffiti" src="/intro_pics/graffiti_laura.png" alt="graffiti laura">
    <!-- <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt=""> -->
</div>
