<div id='fullpage'>
    <div class="section">
        <div class="personal-page-first-section">
            <div class="name-icons-container">
                <div class='name-container'>
                    <div class="first-name">
                        <span class="letter" data-letter="L">L</span>
                        <span class="letter" data-letter="A">A</span>
                        <span class="letter" data-letter="U">U</span>
                        <span class="letter" data-letter="R">R</span>
                        <span class="letter" data-letter="A">A</span>
                    </div>
                    <div class="last-name">
                        <span class="letter" data-letter="S">S</span>
                        <span class="letter" data-letter="C">C</span>
                        <span class="letter" data-letter="H">H</span>
                        <span class="letter" data-letter="N">N</span>
                        <span class="letter" data-letter="E">E</span>
                        <span class="letter" data-letter="I">I</span>
                        <span class="letter" data-letter="D">D</span>
                        <span class="letter" data-letter="E">E</span>
                        <span class="letter" data-letter="R">R</span>
                    </div>
                </div>
                <div class="contact-icons-container">
                    <a href="mailto:lauraschneider@gmail.com?Subject=Project%20Collaboration%20With%20Laura%20Schneider"><img class="contact-icons" src="../contact_icons/email.png" alt="laurie.schneider@gmail.com" title="laurie.schneider@gmail.com"></a>
                    <a href="https://github.com/LauraSchneider"><img class="contact-icons" src="../contact_icons/github.png" alt="https://github.com/LauraSchneider" title="https://github.com/LauraSchneider"></a>
                    <a href="https://www.linkedin.com/in/petje/"><img class="contact-icons" src="../contact_icons/linkedin.png" alt="https://www.linkedin.com/in/petje/" title="https://www.linkedin.com/in/petje/"></a>
                </div>
            </div>

            <div class="pic-bio-container">
                <div class='pic-container'>
                    <img class='selfie' src="../laura_projects/me.jpg" alt="Laura in Galway">
                </div>
                <div class='bio'>I’m a full-stack developer with a background in biochemistry and immunology. I’m from Germany and have lived most of my life abroad such as the States, Ireland and Singapore. I used to work as a clinical laboratory assistant as well as
                    a pharmacovigilance operations specialist. I am great at keeping my team members in the loop, seeing projects through and mentoring newbies. I’m looking to integrate my science background with my new found interest in web development.
                </div>
            </div>
        </div>
    </div>
    <!-- end of section -->

    <div class="section">
        <div class="carousel-container">
            <div class="title-container">
                <h1 class="project-title">PROJECTS</h1>
            </div>
            <div class="project-carousel">
                <div class="project onscreen">
                    <a href="https://memory-stitch.herokuapp.com/welcome#/"><img src="../laura_projects/memory_stitch.png" alt="Memory Stitch" title="Link: https://memory-stitch.herokuapp.com/welcome#/"></a>
                </div>
                <div class="project ondeck">
                    <a href="https://github.com/LauraSchneider/connect-four"><img src="../laura_projects/connect_four.png" alt="Connect Four Game" title="Link: https://github.com/LauraSchneider/connect-four"></a>
                </div>
                <div class="project ondeck">
                    <a href="https://github.com/LauraSchneider/petition"><img src="../laura_projects/petition_s.png" alt="Petition" title="Link: https://github.com/LauraSchneider/petition"></a>
                </div>
                <div class="project ondeck">
                    <a href="https://github.com/LauraSchneider/imageboard"><img src="../laura_projects/imageboard_s.png" alt="Imageboard" title="Link: https://github.com/LauraSchneider/imageboard"></a>
                </div>
                <div class="project ondeck">
                    <a href="https://github.com/LauraSchneider/social-network"><img src="../laura_projects/social_network.png" alt="Social Network" title="Link: https://github.com/LauraSchneider/social-network"></a>
                </div>
                <div class="project ondeck">
                    <a href="https://github.com/LauraSchneider/text_adventure_game"><img src="../laura_projects/text_adventure.png" alt="Text Adventure Game" title="Link: https://github.com/LauraSchneider/text_adventure_game"></a>
                </div>
            </div>
            <div class="dots-container">
                <div class="dots">
                    <div class="dot current-dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="tech-stack-container">
            <h1 class="tech-stack-title">TECH STACK</h1>
            <div class="tech-stack">
                <img class="tech-icons" src="../tech_icons/js.jpg" alt="js_icon" title="JavaScript:ES5|ES6">
                <img class="tech-icons" src="../tech_icons/html.jpg" alt="html_icon" title="HTML5">
                <img class="tech-icons" src="../tech_icons/css.jpg" alt="css_icon" title="CSS3">
                <img class="tech-icons" src="../tech_icons/webpack.png" alt="webpack" title="WebPack">
                <img class="tech-icons" src="../tech_icons/heroku.png" alt="heroku_icon" title="Heroku">
                <img class="tech-icons" src="../tech_icons/jquery.png" alt="jquery_icon" title="jQuery">
                <img class="tech-icons" src="../tech_icons/handlebars.jpeg" alt="handlebars_icon" title="Handlebars">
                <img class="tech-icons" src="../tech_icons/babel.png" alt="babel_icon" title="BABEL">
                <img class="tech-icons" src="../tech_icons/react.png" alt="react_icon" title="React">
                <img class="tech-icons" src="../tech_icons/redux.png" alt="redux_icon" title="Redux">
                <img class="tech-icons" src="../tech_icons/git.png" alt="git_icon" title="Git">
                <img class="tech-icons" src="../tech_icons/github.png" alt="github_icon" title="GitHub">
                <img class="tech-icons" src="../tech_icons/vue.png" alt="vue_icon" title="Vue">
                <img class="tech-icons" src="../tech_icons/node_express.jpeg" alt="node_express_icon" title="Node with Express">
                <img class="tech-icons" src="../tech_icons/postgresql.png" alt="postgresql_icon" title="PostgreSQL">
                <img class="tech-icons" src="../tech_icons/aws.jpeg" alt="aws_icon" title="Amazon Web Services">
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="/carousel.js"></script>
