<div id="fullpage">
    <div class="section">
        <div class="personal-page-first-section">
            <div class="name-icons-container">
                <div class='name-container'>
                    <div class="loretta">
                        <span class="loretta-letter" data-letter="L">L</span>
                        <span class="loretta-letter" data-letter="O">O</span>
                        <span class="loretta-letter" data-letter="R">R</span>
                        <span class="loretta-letter" data-letter="E">E</span>
                        <span class="loretta-letter" data-letter="T">T</span>
                        <span class="loretta-letter" data-letter="T">T</span>
                        <span class="loretta-letter" data-letter="A">A</span>
                    </div>
                    <div id="last-name">
                        <span class="loretta-letter" data-letter="L">L</span>
                        <span class="loretta-letter" data-letter="E">E</span>
                        <span class="loretta-letter" data-letter="V">V</span>
                        <span class="loretta-letter" data-letter="I">I</span>
                        <span class="loretta-letter" data-letter="N">N</span>
                    </div>
                </div>
                <div class="contact-icons-container">
                    <a href="mailto:lorettalevin4@gmail.com?Subject=Project%20Collaboration%20With%20Loretta%20Levin"><img class="contact-icon" src="../contact_icons/email.png" alt="lorettalevin4@gmail.com" title="lorettalevin4@gmail.com"></a>
                    <a href="https://github.com/lorettalevin"><img class="contact-icon" src="../contact_icons/github.png" alt="https://github.com/lorettalevin" title="https://github.com/lorettalevin"></a>
                    <a href="https://www.linkedin.com/in/loretta-levin-76a304127/"><img class="contact-icon" src="../contact_icons/linkedin.png" alt="https://www.linkedin.com/in/loretta-levin-76a304127/" title="https://www.linkedin.com/in/loretta-levin-76a304127/"></a>
                </div>
            </div>

            <div class="pic-bio-container">
                <div class="selfie">
                    <img id="loretta-bio-pic" src="../loretta_projects/loretta_bio_pic.jpg" alt="Loretta">
                </div>
                <div class="bio">
                    I am a Full Stack JavaScript Web Developer who previously worked as a Production Supervisor. As I aspire to combine my fascination with tech and my love for people, I hope to join a goal-oriented team as we work together towards building innovative web
                    applications. I am experienced in driving a department to success and feel confident that I can bring that momentum to the developer world! Feel free to reach out if you'd like to work together on any projects.
                </div>
            </div>

        </div>
    </div>

    <div class="section">
        <div class="carousel-container">
            <div class="title-container">
                <h1 class="project-title">PROJECTS</h1>
            </div>
            <div class="project-carousel">
                <div class="project onscreen">
                    <a href="https://github.com/lorettalevin/ConnectFourGame"><img src="../loretta_projects/connect4.png" alt="Connect Four Game" title="Link: https://github.com/lorettalevin/ConnectFourGame"></a>
                </div>
                <div class="project ondeck">
                    <a href="https://spiced-imageboard.herokuapp.com/"><img src="../loretta_projects/imageboard.png" alt="Imageboard" title="Link: https://spiced-imageboard.herokuapp.com/"></a>
                </div>
                <div class="project ondeck">
                    <a href="https://memory-stitch.herokuapp.com/welcome#/"><img src="../loretta_projects/memorystitch.png" alt="Memory Stitch" title="Link: https://memory-stitch.herokuapp.com/welcome#/"></div></a>
                    <div class="project ondeck">
                        <a href="https://lorettas-petition.herokuapp.com/registration"><img src="../loretta_projects/petition.png" alt="Petition" title="Link: https://lorettas-petition.herokuapp.com/registration"></a>
                    </div>
                    <div class="project ondeck">
                        <a href="https://lorettas-socialnetwork.herokuapp.com/welcome"><img src="../loretta_projects/socialnetwork.png" alt="Social Network" title="Link: https://lorettas-socialnetwork.herokuapp.com/welcome"></a>
                    </div>
                    <div class="dots-container">
                        <div class="dots">
                            <div class="dot current-dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section">
                <div class="tech-stack-container">
                    <h1 class="tech-stack-title">TECH STACK</h1>
                    <div class="tech-stack">
                        <img class="tech-icons" src="../tech_icons/js.jpg" alt="js_icon" title="JavaScript:ES5|ES6">
                        <img class="tech-icons" src="../tech_icons/html.jpg" alt="html_icon" title="HTML5">
                        <img class="tech-icons" src="../tech_icons/css.jpg" alt="css_icon" title="CSS3">
                        <img class="tech-icons" src="../tech_icons/webpack.png" alt="webpack" title="WebPack">
                        <img class="tech-icons" src="../tech_icons/heroku.png" alt="heroku_icon" title="Heroku">
                        <img class="tech-icons" src="../tech_icons/jquery.png" alt="jquery_icon" title="jQuery">
                        <img class="tech-icons" src="../tech_icons/handlebars.jpeg" alt="handlebars_icon" title="Handlebars">
                        <img class="tech-icons" src="../tech_icons/babel.png" alt="babel_icon" title="BABEL">
                        <img class="tech-icons" src="../tech_icons/react.png" alt="react_icon" title="React">
                        <img class="tech-icons" src="../tech_icons/redux.png" alt="redux_icon" title="Redux">
                        <img class="tech-icons" src="../tech_icons/git.png" alt="git_icon" title="Git">
                        <img class="tech-icons" src="../tech_icons/github.png" alt="github_icon" title="GitHub">
                        <img class="tech-icons" src="../tech_icons/vue.png" alt="vue_icon" title="Vue">
                        <img class="tech-icons" src="../tech_icons/node_express.jpeg" alt="node_express_icon" title="Node with Express">
                        <img class="tech-icons" src="../tech_icons/postgresql.png" alt="postgresql_icon" title="PostgreSQL">
                        <img class="tech-icons" src="../tech_icons/aws.jpeg" alt="aws_icon" title="Amazon Web Services">
                    </div>
                </div>
            </div>

        </div>
        <script type="text/javascript" src="/carousel.js"></script>
