<h1>LORETTA!!!</h1>
<div class="section" id="projects">Projects</div>
<div class="section" id="tech-stack">Tech Icons
    <!-- <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt=""> -->
</div>
