<h1>LORETTA!!!</h1>
<div class="section" id="projects">Projects</div>
<div class="section" class="tech-stack">
    <img class="tech-icons" src="../tech_icons/js.jpg" alt="js_icon">
    <img class="tech-icons" src="../tech_icons/html.jpg" alt="html_icon">
    <img class="tech-icons" src="../tech_icons/css.jpg" alt="css_icon">
    <img class="tech-icons" src="../tech_icons/git.png" alt="git_icon">
    <img class="tech-icons" src="../tech_icons/node.png" alt="node_icon">
    <img class="tech-icons" src="../tech_icons/node_express.jpeg" alt="node_express_icon">
    <img class="tech-icons" src="../tech_icons/jquery.png" alt="jquery_icon">
    <img class="tech-icons" src="../tech_icons/react.png" alt="react_icon">
    <img class="tech-icons" src="../tech_icons/redux.png" alt="redux_icon">
    <img class="tech-icons" src="../tech_icons/vue.png" alt="vue">
    <img class="tech-icons" src="../tech_icons/handlebars.jpeg" alt="handlebars_icon">
    <img class="tech-icons" src="../tech_icons/postgresql.png" alt="postgresql_icon">
    <img class="tech-icons" src="../tech_icons/heroku.png" alt="heroku_icon">
    <img class="tech-icons" src="../tech_icons/aws.jpeg" alt="aws_icon">
    <img class="tech-icons" src="../tech_icons/babel.png" alt="babel_icon">
    <img class="tech-icons" src="../tech_icons/webpack.png" alt="webpack">
</div>
