<div class="section"
    <img class=“graffiti” src=/intro_pics/graffiti_loretta.png” alt=“loretta”>
</div>
<div class="section" id="projects">Projects</div>
<div class="section" id="tech-stack">
    <img class="tech-icons" src="../tech_icons/js.jpg" alt="js_icon" title="JavaScript:ES5|ES6">
    <img class="tech-icons" src="../tech_icons/html.jpg" alt="html_icon" title="HTML5">
    <img class="tech-icons" src="../tech_icons/css.jpg" alt="css_icon" title="CSS3">
    <img class="tech-icons" src="../tech_icons/node_express.jpeg" alt="node_express_icon" title="Node with Express">
    <img class="tech-icons" src="../tech_icons/jquery.png" alt="jquery_icon" title="jQuery">
    <img class="tech-icons" src="../tech_icons/react.png" alt="react_icon" title="React">
    <img class="tech-icons" src="../tech_icons/redux.png" alt="redux_icon" title="Redux">
    <img class="tech-icons" src="../tech_icons/vue.png" alt="vue_icon" title="Vue">
    <img class="tech-icons" src="../tech_icons/handlebars.jpeg" alt="handlebars_icon" title="Handlebars">
    <img class="tech-icons" src="../tech_icons/postgresql.png" alt="postgresql_icon" title="PostgreSQL">
    <img id="heroku" class="tech-icons" src="../tech_icons/heroku.png" alt="heroku_icon" title="Heroku">
    <img class="tech-icons" src="../tech_icons/aws.jpeg" alt="aws_icon" title="Amazon Web Services">
    <img class="tech-icons" src="../tech_icons/babel.png" alt="babel_icon" title="BABEL">
    <img class="tech-icons" src="../tech_icons/webpack.png" alt="webpack" title="WebPack">
    <img class="tech-icons" src="../tech_icons/git.png" alt="git_icon" title="Git">
    <img class="tech-icons" src="../tech_icons/github.png" alt="github_icon" title="GitHub">
</div>
