/* TECH STACK */

 .heroku:hover, .tech-icons:hover {
    transform: scale(1.3);
}

body {
    /* background-color: black; */
}

.laura {
    margin-top: 200px;
    font-size: 100px;
    color: rgb(227, 51, 249);
}
