/* CONTACT */
#loretta-contact-container {
    margin-top: 200px;
}

.contact-icons {
    width: 50px;
}

/* LORETTA'S PROJECTS */

#loretta-projects {
    border: 3px solid green;
    padding-top: 200px;
}

/* TECH STACK */

.tech-stack {
    padding-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    justify-items: center;
}

.tech-icons {
    width: 100px;
    padding-bottom: 20%;
}

.heroku {
    width: 95px;
}
