/* TECH STACK */

#tech-stack {
    margin-top: 100px;
    border: 1px solid blue;
    /* display: flex; */
    /* justify-content: space-around; */
}
.tech-icons {
    width: 100px;
    /* height: 100px; */
}

#heroku {
    width: 90px;
}
