/* CONTACT */

.loretta-bio {
    width: 420px;
}

.name-container {
    height: 600px;
}

div.loretta {
    width: 90%;
    margin: 100px auto 0;
    text-align: center;
    height: 200px;
}

.loretta-letter {
    display: inline-block;
    font-weight: 900;
    font-size: 8em;
    margin: 0.2em;
    position: relative;
    color: darkgray;
    transform-style: preserve-3d;
    perspective: 400;
    z-index: 1;
}

.loretta-letter:before, .loretta-letter:after {
    position: absolute;
    content: attr(data-letter);
    transform-origin: top left;
    top: 0;
    left: 0;
}

.loretta-letter, .loretta-letter:before, .loretta-letter:after {
    transition: all 0.5s ease-in-out;
}

.loretta-letter:before {
    color: #8c1b1b;
    text-shadow: -1px 0px 1px rgba(255, 255, 255, .8), 1px 0px 1px rgba(0, 0, 0, .8);
    z-index: 3;
    transform: rotateX(0deg) rotateY(-15deg) rotateZ(0deg);
}

.loretta-letter:after {
    color: rgba(0, 0, 0, .11);
    z-index: 2;
    transform: scale(1.08, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 1deg);
}

.loretta-letter:hover:before {
    color: black;
    transform: rotateX(0deg) rotateY(-40deg) rotateZ(0deg);
}

.loretta-letter:hover:after {
    transform: scale(1.08, 1) rotateX(0deg) rotateY(40deg) rotateZ(0deg) skew(0deg, 22deg);
}

#last-name {
    font-size: 13px;
}

/* #loretta-bio-container {
    display: flex;
    justify-content: center;
} */

#loretta-bio-pic {
    width: 400px;
    border-radius: 50%;
}

.selfie, .loretta-bio, .contact-icons-container {
    display: inline-block;
}

/* .contact-icons-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */

.contact-icons {
    width: 75px;
    padding: 10px;
    display: block;
}

/* LORETTA'S PROJECTS */

.carousel-container {
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    background-color: lightgray;
}

.project-carousel {
    position: relative;
    margin: 0 auto;
    width: 75%;
    height: 600px;
    overflow: hidden;
    margin-top: 20px;
}

.project-title {
    margin-top: 50px;
    font-family: 'Abel', sans-serif;
}

.project {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateX(100%);
}

.project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.onscreen {
    transform: translateX(0);
    transition-property: transform;
    transition-duration: 1s;
}

.exit {
    transform: translateX(-100%);
    transition-property: transform;
    transition-duration: 1s;
}

.dots-container {
    display: flex;
    height: 100%;
    align-items: center;
}

.dots {
    display: flex;
    flex-direction: column;
}

.dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid black;
    display: inline-block;
    cursor: pointer;
    z-index: 99999999;
}

.current-dot {
    background-color: red;
}

/* TECH STACK */

.tech-stack-container, .carousel-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tech-stack-title {
    margin-top: 5%;
    font-family: 'Abel', sans-serif;
}

.tech-stack {
    padding-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    justify-items: center;
    width: 50%;
}

.tech-icons {
    width: 65px;
    padding-bottom: 20%;
}
