* {
    margin: 0;
}

body {
    background-color: white;
}

/* ABOUT US SECTION */

.names {
    font-family: 'Pinyon Script', cursive;
    font-size: 100px;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background: linear-gradient( 120deg, #ee52e2, #823ce770, #bfeff6, #f1c0eb, #3ffbae, #ff0efd);
    background-size: 400% 400%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: bold;
    animation: Gradient 5s ease infinite;
    width: 100%;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.intro-us-container {
    text-align: center;
    border: 1px solid red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2%;
}

.us-pic {
    height: 500px;
    border-radius: 50%;
    margin-bottom: 100px;
    margin-top: 100px;
}

.intro-text-container {
    border: 1px solid blue;
    width: 800px;
    margin: 0 auto;
}

.intro-text {
    font-family: 'Abel', sans-serif;
    font-size: 25px;
    text-align: center;
}

#sign-off {
    font-family: 'Pinyon Script', cursive;
    font-size: 40px;
    margin-top: 30px;
}

/* CONTACT US SECTION */

.form {
    border: 2px solid purple;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    background-color: rgb(0, 0, 0);
}

input, textarea {
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
    border: 3px solid rgb(60, 132, 208);
    box-shadow: 2px 1px 10px rgb(3, 249, 255);
}

input {
    width: 300px;
    margin-bottom: 25px;
}

textarea {
    height: 150px;
    width: 600px;
}

button {
    margin-top: 25px;
    height: 40px;
    width: 150px;
    border-radius: 15px;
    background: rgb(255, 3, 195);
    border: 2px solid #00e5ff;
    font-size: 15px;
    color: black;
    text-transform: uppercase;
    box-shadow: 2px 1px 10px rgb(3, 249, 255);
    margin-bottom: 25px;
}

button:hover {
    background: -webkit-linear-gradient( 330deg, #ee7752, #e73c7e, #bfeff6, #f1c0eb, #fb6b3f, #ff0efd);
}

/* HEADER SECTION */

#header {
    position: fixed;
    top: 0;
    height: 50px;
    display: block;
    width: 100%;
    background-color: black;
    z-index: 9;
    text-align: center;
    padding: 20px 0 0 0;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

nav li {
    float: left;
}

nav li a {
    text-transform: uppercase;
    display: block;
    font-size: 25px;
    text-decoration: none;
    color: white;
    font-family: 'Abel', sans-serif;
}
