* {
    margin: 0;

}

body {
    background-color: #f3f3f3;
}

/* ABOUT US SECTION */
.intro-us-container {
    text-align: center;
    border: 1px solid red;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.us-pic {
    height: 500px;
    border-radius: 50%;
}

.intro-text-container {
    border: 1px solid blue;
}

.intro-text {
    font-family: fantasy;
    font-size: 20px;
    text-align: center;
}

.graffiti {
    height: 168px;
    width: 462px;
}

/* FOOTER AND HEADER SECTION */
#header, #footer {
    position: fixed;
    height: 50px;
    display: block;
    width: 100%;
    background-color: black;
    z-index: 9;
    text-align: center;
    /* color: #f2f2f2; */
    padding: 20px 0 0 0;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    font-size: 20px;
    padding: 14px 16px;
    text-decoration: none;
    color: #54f309;
    font-family: fantasy;
}

#footer {
    bottom: 0px;
}
